doctype html
head
  title Viktor Břenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Břenek")
  meta(name="description" content="Osobní blog a portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='../styles.css') 
  meta(charset="utf-8")
  
  title Blog

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
        a.name(href='#') Viktor Břenek
        a.name(href='../blog.html') Blog
        a.name(href='../index.html') Portfolio
    main.gridblog
        h1.atitle= mvb.article.title
        

        div
            span
                ul.task__tags
                  each tag in mvb.article.tags
                    li.task__tag.task__tag--copyright= tag
       
            

        != mvb.article.content 

       
            

        

      
      
     


    footer
        