doctype html
head
  title Viktor Břenek
  meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
  meta(content="utf-8", http-equiv="encoding")
  meta(name="author" content="Viktor Brenek")
  meta(name="description" content="Osobní blog a portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/icon-512.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
  link(rel="stylesheet", href="../styles.css")
  link(rel="icon" href="../assets/images/favicon.png" sizes="any")
  link(rel="icon" href="../assets/images/icon.svg" type="image/svg+xml")
  link(rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png")
  link(rel="manifest" href="../manifest.json")
  meta(charset="utf-8")
  script(src="../site.js" defer)

body(data-page="article")
  header.site-header
    .site-header__inner
      a.brand(href="../index.html" aria-label="Domů Viktor Břenek")
        span.brand__sigil V
        span.brand__text
          span.brand__eyebrow Článek
          span.brand__name Viktor Břenek
      button.nav-toggle(type="button" aria-expanded="false" aria-label="Přepnout navigaci") Menu
      nav.site-nav(aria-label="Hlavní navigace")
        a(href="../about.html") O mně
        a(href="../blog.html") Blog
        a(href="../gamedev.html") Vývoj her
        a(href="../design.html") Design
        a(href="../illustrations.html") Ilustrace
        a(href="../uxdesign.html") UX/UI
      ul.social-links
        li
          a(href="https://instagram.com/viktorbrenek" target="_blank" rel="noreferrer") Instagram
        li
          a(href="https://facebook.com/brenekviktor/" target="_blank" rel="noreferrer") Facebook
        li
          a(href="https://twitch.tv/viktorbrenek" target="_blank" rel="noreferrer") Twitch
        li
          a(href="https://discord.com/invite/2Uj6N5N" target="_blank" rel="noreferrer") Discord

  main.article-shell
    aside.article-sidebar
      .article-sidebar__panel
        p.eyebrow Obsah
        p.article-sidebar__hint Přeskakuj mezi kapitolami i během čtení.
    article.article-panel
      .article-header
        p.eyebrow Záznam
        h1.atitle= mvb.article.title
        if mvb.article.tags
          ul.tag-list
            each tag in mvb.article.tags
              li.tag= tag
      .article-content
        != mvb.article.content
      #utterances-container
        script(src="https://utteranc.es/client.js", repo="viktorbrenek/blogco", issue-term="pathname", theme="github-dark", crossorigin="anonymous", async)

  script.
    window.addEventListener('DOMContentLoaded', () => {
      const toc = document.querySelector('.table-of-contents');
      const tocPanel = document.querySelector('.article-sidebar__panel');

      if (toc && tocPanel) {
        tocPanel.appendChild(toc);
      }

      const tocLinks = document.querySelectorAll('.table-of-contents a');
      if (!tocLinks.length) {
        const sidebar = document.querySelector('.article-sidebar');
        if (sidebar) {
          sidebar.remove();
        }
        return;
      }

      const headings = Array.from(document.querySelectorAll('h1, h2, h3, h4, h5, h6')).filter((heading) => heading.id);

      function setActive(id) {
        tocLinks.forEach((link) => {
          link.classList.toggle('active', link.getAttribute('href') === `#${id}`);
        });
      }

      if ('IntersectionObserver' in window) {
        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              setActive(entry.target.id);
            }
          });
        }, {
          rootMargin: '-20% 0px -60% 0px'
        });

        headings.forEach((heading) => observer.observe(heading));
      } else {
        const onScroll = () => {
          let activeId = headings[0] ? headings[0].id : '';
          const threshold = window.scrollY + (window.innerHeight * 0.35);

          headings.forEach((heading) => {
            if (heading.offsetTop <= threshold) {
              activeId = heading.id;
            }
          });

          if (activeId) {
            setActive(activeId);
          }
        };

        onScroll();
        window.addEventListener('scroll', onScroll, { passive: true });
      }
    });

  footer.site-footer
    p Zachovaný obsah článku ve čitelném širším layoutu.
