doctype html
head
  title Petr Brenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Brenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='../styles.css')
  link(rel='stylesheet', href='../img.css')
  <link rel="icon" href="../assets/images/favicon.png" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="../assets/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="../manifest.json"> 
  meta(charset="utf-8")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  
  title Blog

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBrenekYT' target='_blank') Youtube
    menu
        a.name(href='../about.html') Petr Brenek
        a.name(href='../blog.html') Blog
        a.name(href='../index.html') Portfolio
    main.gridblog
        h1.atitle= mvb.article.title
        

        div
            span
                ul.task__tags
                  each tag in mvb.article.tags
                    li.task__tag.task__tag--copyright= tag
           

        != mvb.article.content 

    script.
      // Add this code below your existing JavaScript code
      // Počkáme, až se načte celá stránka
      $(document).ready(function() {
        // Při kliknutí na odkaz v menu provedeme plynulé scrollování k cíli
        $(".table-of-contents a").on('click', function(event) {
          // Zabraňujeme implicitnímu chování odkazu (skok na cíl)
          event.preventDefault();

          // Získáme cíl odkazu (např. #nadpis-1) a najdeme cílový element
          var target = $(this.hash);

          // Plynulé scrollování k cílovému elementu
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 800); // 800 milisekund pro plynulé scrollování, můžete upravit dle potřeby
        });

        // Získáme všechny odkazy v TOC
        var tocLinks = $(".table-of-contents a");
        var tocWrapper = $(".table-of-contents");

        // Při každém scrollu provedeme aktualizaci zvýraznění aktivního odkazu v TOC
        $(window).scroll(function() {
          // Získáme aktuální pozici na stránce
          var scrollPosition = $(this).scrollTop();

          // Projdeme všechny odkazy v TOC a zjistíme, který je aktivní
          tocLinks.each(function() {
            var currentLink = $(this);
            var targetElement = $(currentLink.attr("href"));

            // Pokud jsme dosáhli nadpisu ve stránce, který odpovídá odkazu v TOC, zvýrazníme odkaz
            if (targetElement.position().top <= scrollPosition && targetElement.position().top + targetElement.height() > scrollPosition) {
              // Odstraníme zvýraznění ze všech odkazů
              tocLinks.removeClass("active");
              // Přidáme zvýraznění pouze aktivnímu odkazu
              currentLink.addClass("active");
            }
          });
        });
      });

      
    footer
        