doctype html
head
  title O mně | Viktor Břenek
  meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
  meta(content="utf-8", http-equiv="encoding")
  meta(name="author" content="Viktor Brenek")
  meta(name="description" content="Osobní blog a portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/icon-512.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
  link(rel="stylesheet", href="styles.css")
  link(rel="icon" href="assets/images/favicon.png" sizes="any")
  link(rel="icon" href="assets/images/icon.svg" type="image/svg+xml")
  link(rel="apple-touch-icon" href="assets/images/apple-touch-icon.png")
  link(rel="manifest" href="/manifest.json")
  script(src="site.js" defer)

body(data-page="about")
  header.site-header
    .site-header__inner
      a.brand(href="index.html" aria-label="Domů Viktor Břenek")
        span.brand__sigil V
        span.brand__text
          span.brand__eyebrow List postavy
          span.brand__name Viktor Břenek
      button.nav-toggle(type="button" aria-expanded="false" aria-label="Přepnout navigaci") Menu
      nav.site-nav(aria-label="Hlavní navigace")
        a(href="about.html") O mně
        a(href="blog.html") Blog
        a(href="gamedev.html") Vývoj her
        a(href="design.html") Design
        a(href="illustrations.html") Ilustrace
        a(href="uxdesign.html") UX/UI
      ul.social-links
        li
          a(href="https://instagram.com/viktorbrenek" target="_blank" rel="noreferrer") Instagram
        li
          a(href="https://facebook.com/brenekviktor/" target="_blank" rel="noreferrer") Facebook
        li
          a(href="https://twitch.tv/viktorbrenek" target="_blank" rel="noreferrer") Twitch
        li
          a(href="https://discord.com/invite/2Uj6N5N" target="_blank" rel="noreferrer") Discord

  main.page-shell
    section.page-hero.page-hero--split
      div
        p.eyebrow O mně
        h1 Ahoj, moje přezdívka je Viktor.
        p.lead Jsem grafický designér, vývojář her a content creator.
      .profile-frame
        img(src="assets/images/logolepsi.png" alt="Logo Viktor Břenek" loading="lazy")

    section.timeline-grid
      article.section-card
        h2.section-title Čemu se věnuji
        ul.timeline-list
          li.timeline-item
            span.timeline-item__date 01/2020 - nyní
            span.timeline-item__text Freelance designer a content creator
          li.timeline-item
            span.timeline-item__date 03/2020 - nyní
            span.timeline-item__text Senior UX / UI Designer | Fulltime
          li.timeline-item
            span.timeline-item__date 2015 - nyní
            span.timeline-item__text Viktor Břenek na YouTube | tvorba pro více než 20 000 diváků
          li.timeline-item
            span.timeline-item__date 09/2021 - 08/2022
            span.timeline-item__text Učitel výtvarných oborů | střední škola
          li.timeline-item
            span.timeline-item__date 01/2017 - 12/2019
            span.timeline-item__text Ředitel grafického designu | Fulltime
      article.section-card
        h2.section-title Čeho jsem dosáhl
        ul.timeline-list
          li.timeline-item
            span.timeline-item__date 2015 - 2020
            span.timeline-item__text Magisterský titul v oboru Učitelství výtvarné výchovy / Univerzita Palackého, Olomouc
          li.timeline-item
            span.timeline-item__date 04/2017
            span.timeline-item__text Xihua University, Čína - studium a cestování
          li.timeline-item
            span.timeline-item__date 2011 - 2015
            span.timeline-item__text Absolvent grafického designu na Střední škole umění a designu
      article.section-card
        h2.section-title Kontakt
        p.hero-kicker Líbí se ti moje tvorba?
        .link-grid
          a.link-pill(href="mailto:viktorbrenek@gmail.com") YouTube email

  footer.site-footer
    p Přehled o mně upravený do čitelné podoby pro desktop i mobil.
