doctype html
head
  title Blog | Viktor Břenek
  meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
  meta(content="utf-8", http-equiv="encoding")
  meta(name="author" content="Viktor Brenek")
  meta(name="description" content="Osobní blog a portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/icon-512.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
  link(rel="stylesheet", href="styles.css")
  link(rel="icon" href="assets/images/favicon.png" sizes="any")
  link(rel="icon" href="assets/images/icon.svg" type="image/svg+xml")
  link(rel="apple-touch-icon" href="assets/images/apple-touch-icon.png")
  link(rel="manifest" href="/manifest.json")
  script(src="site.js" defer)

body(data-page="blog")
  header.site-header
    .site-header__inner
      a.brand(href="index.html" aria-label="Domů Viktor Břenek")
        span.brand__sigil V
        span.brand__text
          span.brand__eyebrow Archiv zápisů
          span.brand__name Viktor Břenek
      button.nav-toggle(type="button" aria-expanded="false" aria-label="Přepnout navigaci") Menu
      nav.site-nav(aria-label="Hlavní navigace")
        a(href="about.html") O mně
        a(href="blog.html") Blog
        a(href="gamedev.html") Vývoj her
        a(href="design.html") Design
        a(href="illustrations.html") Ilustrace
        a(href="uxdesign.html") UX/UI
      ul.social-links
        li
          a(href="https://instagram.com/viktorbrenek" target="_blank" rel="noreferrer") Instagram
        li
          a(href="https://facebook.com/brenekviktor/" target="_blank" rel="noreferrer") Facebook
        li
          a(href="https://twitch.tv/viktorbrenek" target="_blank" rel="noreferrer") Twitch
        li
          a(href="https://discord.com/invite/2Uj6N5N" target="_blank" rel="noreferrer") Discord
        li
          a(href="https://www.youtube.com/ViktorBrenekYT" target="_blank" rel="noreferrer") Youtube

  main.page-shell
    section.page-hero
      p.eyebrow Blog
      h1 Vývojové logy, recenze a další zápisy
      p.lead
        | Všechny články zůstávají zachované, ale archiv je poskládaný do přehledného responzivního seznamu.

    section.archive-grid
      each year in mvb.groupedArticles.byYear
        article.archive-year
          h2= year.year
          ul.archive-list
            each ar in year.articles
              li
                a.archive-link(href=`articles/${ar.id}.html`)
                  span.archive-link__title= ar.title
                  if ar.tags && ar.tags.length
                    span.tag-list
                      each tag in ar.tags
                        span.tag= tag

  footer.site-footer
