doctype html
head
  style
      include ../src/fonts/LatoLatin/latolatinfonts.css
      include ../src/fonts/LatoLatin/latostyle.css
      include ../docs/styles.css
  meta(charset="utf-8")
  
  title Blog

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    header
        a.name(href='#') Viktor Břenek
        a.name(href='https://viktorbrenek.github.io/blog') Blog
        a.name(href='https://viktorbrenek.github.io') Portfolio
    main.gridblog
        h1.intro Blog
        section.blog-grid
            ul.articles.articles--blog
                li.articles__item-articles__item--blog
                    time.articles__item_date 26.02.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek jedna
                li.articles__item-articles__item--blog
                    time.articles__item_date 01.03.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek dva  
                li.articles__item-articles__item--blog
                    time.articles__item_date 26.02.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek jedna
                li.articles__item-articles__item--blog
                    time.articles__item_date 01.03.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek dva 
            ul.articles.articles--blog
                li.articles__item-articles__item--blog
                    time.articles__item_date 26.02.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek jedna
                li.articles__item-articles__item--blog
                    time.articles__item_date 01.03.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek dva
            ul.articles.articles--blog
                li.articles__item-articles__item--blog
                    time.articles__item_date 26.02.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek jedna
                li.articles__item-articles__item--blog
                    time.articles__item_date 01.03.2019
                    a.articles__item__link(href='articles/atomic-design-is-messy.html')
                        span.articles__item__title Testovací článek dva   
                

    footer
        h2 Kontakt
        a.button(href='#') Napiš mi