doctype html
head
  style
      include ../src/fonts/LatoLatin/latolatinfonts.css
      include ../src/fonts/LatoLatin/latostyle.css
      include ../docs/styles.css
  meta(charset="utf-8")
  
  title Blog

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
        a.name(href='#') Viktor Břenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio 
    main.gridblog
        h1.intro Blog
        section.blog-grid
            ul 
                each article in mvb.articles
                    li
                        a(href=`articles/${article.id}.html`)= article.title

    footer
        h2 Kontakt
        a.button(href='#') Napiš mi