doctype html
head
  title Petr Brenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Brenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  link(rel='stylesheet', href='astyles.css')
  link(rel='stylesheet', href='img.css')
  script(src="finder.js")  
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Portfolio post 1#

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBrenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
        a.name(href='about.html') Petr Brenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio 
            
    #content
        .container
          main.grid-b
            h1.hillu Illustrations for Tesco SW
            p.pillu Tesco SW is my current employer. All of these illustrations were created for them and official used at some point for marketing campaigns or used in applications and web designs. 
            section.project-grid-b
              a
                img(src="assets/images/tsc1.png" alt='' loading='lazy')

              a
                img(src='assets/images/tsc2.png' alt='' loading='lazy')

              a
                img(src='assets/images/tsc3.png' alt='' loading='lazy')

              a
                img(src="assets/images/tsc4.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc5.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc6.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc7.png" alt='' loading='lazy')

              a
                img(src='assets/images/tsc8.png' alt='' loading='lazy')

              a
                img(src='assets/images/tsc9.png' alt='' loading='lazy')

              a
                img(src="assets/images/tsc10.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc11.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc12.png" alt='' loading='lazy')
              
              a
                img(src="assets/images/tsc13.png" alt='' loading='lazy')

              a
                img(src='assets/images/tsc14.png' alt='' loading='lazy')

              a
                img(src='assets/images/tsc15.png' alt='' loading='lazy')

              a
                img(src="assets/images/tsc16.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc17.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc18.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc19.png" alt='' loading='lazy')

              a
                img(src="assets/images/tsc20.png" alt='' loading='lazy')

              a
                img(src="assets/images/gym4.jpg" alt='' loading='lazy')

              a
                img(src="assets/images/gym3.jpg" alt='' loading='lazy')
              
              a
                img(src="assets/images/gym2.jpg" alt='' loading='lazy')

              a
                img(src="assets/images/gym1.jpg" alt='' loading='lazy')

              a
                img(src="assets/images/masaryk.jpg" alt='' loading='lazy')

              a
                img(src="assets/images/kytky.jpg" alt='' loading='lazy')

            img(class="portimg" src="assets/images/planetlight.jpg" alt='' loading='lazy')
            img(class="portimg" src="assets/images/planetdark.jpg" alt='' loading='lazy')
            img(class="portimg" src="assets/images/planetwire.jpg" alt='' loading='lazy')

          


                          

                      
                        
          