doctype html
head
  title Viktor Břenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Břenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0")  
  link(rel='stylesheet', href='styles.css') 

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
      a.name(href='#') Viktor Břenek
      a.name(href='blog.html') Blog
      a.name(href='index.html') Portfolio          
    main.grid
      h1.intro Portfolio
      section.project-grid
        a(href='portfolio-1.html')
          div(class="borderdiv")
            img(src="assets/images/modely.png" alt='' loading='lazy')
            h3 Arcanepunk Lost
            p
              | I am actively developing my own indie rpg game.
              | The game combines post-apo elements with Steampunk and Magic.
        a(href='portfolio-6.html')
          div(class="borderdiv")
            img(src='assets/images/tescosw.png' alt='' loading='lazy')
            h3 Affinity Designer
            p
              | Isometric illustrations that have been made for my current 
              | emloyer Tesco Sw and other clients. 
        a(href='portfolio-2.html')
          div(class="borderdiv")
            img(src='assets/images/threejs.png' alt='' loading='lazy')
            h3 3D portfolio
            p
              | I am learning 3D modeling in Blender and three.js 
              | for creating stunning 3D webdesings. 
        a(href='portfolio-2.html')
          div(class="borderdiv")
            img(src="assets/images/webdesign.png" alt='' loading='lazy')
            h3 Sketch
            p
              | Working as an UI/UX Designer i have years of experience 
              | with designing responsive and user friendly websites/apps. 
        a(href='https://petrbrenek.wixsite.com/project-comics/uvodni-strana')
          div(class="borderdiv")
            img(src="assets/images/komiks.png" alt='' loading='lazy')
            h3 Comics
            p
              | Interactive web based comics which let you choose your destiny 
              | and storyline. Currently on hold. 
        a(href='#')
          div(class="borderdiv")
            img(src="assets/images/ilustrace.png" alt='' loading='lazy')
            h3 Affinity Photo
            p
              | Pixel/raster illustrations created in Photoshop and Affinity Photo. 
              | Includes concept art images created with tablet. 
        
    footer
      
  
 

