doctype html
head
  style
      include ../src/fonts/LatoLatin/latolatinfonts.css
      include ../src/fonts/LatoLatin/latostyle.css
      include ../docs/styles.css
  meta(charset="utf-8")
  
  title Viktor Břenek
  
body  
  h1 Vítej na mém blogu borče
  .myDiv
    h5 zatím je tady prd :)
    

  ul#links.links 
    li
      a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
    li
      a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
    li
      a.source(href='https://github.com/viktorbrenek' target='_blank') Github
  

  
  section.articles_group
    ul.articles.articles--blog
      li.articles__item.acrticles__item--blog

