doctype html
head
  style
      include ../src/fonts/LatoLatin/latolatinfonts.css
      include ../src/fonts/LatoLatin/latostyle.css
      include ../docs/styles.css
  meta(charset="utf-8")
  
  title Viktor Břenek

body
  div#wrapper.mainwrapper
    div#inner_column.inner_column 
      div#header.header
        h1 Vítej na mém blogu
        h5 Viktor Břenek
      div#mainpage.mainpage
        ul#links.links 
          li
            a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
          li
            a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
          li
            a.source(href='https://github.com/viktorbrenek' target='_blank') Github
      div#footer.footer
  
 

