doctype html
head
  style
      include ../src/fonts/LatoLatin/latolatinfonts.css
      include ../src/fonts/LatoLatin/latostyle.css
      include ../docs/styles.css
  meta(charset="utf-8")
  
  title Viktor Břenek

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    
    div#mainpage.mainpage
      header
        a.name(href='#') Viktor Břenek
        a.name(href='https://viktorbrenek.github.io/blog') Blog
        a.name(href='https://viktorbrenek.github.io') Portfolio
      main.grid
        h1.intro Portfolio
        section.project-grid
          a(href='#')
            img(src='https://images.unsplash.com/photo-1587588354456-ae376af71a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1588913262089-69cf0af9adc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1589648409377-21889dbd786f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1589967040061-d33c463bf973?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1590076082844-9cbfcef747d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1588358013128-d99f36f29de7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1589813252717-d47d08b45be1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1589736995900-511d34373863?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
          a(href='#')
            img(src='https://images.unsplash.com/photo-1590235539719-7095412d89ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' loading='lazy')
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              | dolore magna aliqua.
    footer
      h2 Kontakt
      a.button(href='#') Napiš mi
      
  
 

