head
  style
      include ../src/fonts/LatoLatin/latolatinfonts.css
      include ../src/fonts/LatoLatin/latostyle.css
      include ../docs/styles.css
  meta(charset='utf-8')
  title Viktor Břenek  
  

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
      a.name(href='#') Viktor Břenek
      a.name(href='https://viktorbrenek.github.io/blog') Blog
      a.name(href='https://viktorbrenek.github.io') Portfolio          
    main.grid
      h1.intro Portfolio
      section.project-grid
        a(href='#')
          img(src="/assets/images/modely.png" alt='' loading='lazy')
          h3 Blender
          p
            | V aktuální době pracuji na modelech do vlastní hry. Pracovní název
            | "Arcapunk". Modulární, optimalizovaná složitost meshů, optimalizovaný wrapping
        a(href='#')
          img(src='/assets/images/tescosw.png' alt='' loading='lazy')
          h3 Affinity Designer
          p
            | Isometrické ilustrace ve formátu SVG optimalizované pro CSS animace
            | i s využitím clip-path animací
        a(href='#')
          img(src='/assets/images/logos.png' alt='' loading='lazy')
          h3 Adobe Illustrator
          p
            | Série logotypů pro různé klienty ve vektorovém formátu. Optimalizované
            | pro ploter výřez, či případné použití na animace.
        a(href='#')
          img(src="/assets/images/webdesign.png" alt='' loading='lazy')
          h3 Sketch
          p
            | Moderní UI/UX design s interaktivními prvky pomocí Frameru, včetně základů
            | frontendu pomocí PUG/LESS
        a(href='#')
          img(src="/assets/images/komiks.png" alt='' loading='lazy')
          h3 Kresba
          p
            | Ruční kresba převáděná do PC, oživena o interaktivní prvky v podobě
            | vebového komiksu. Součást diplomové práce. 
        a(href='#')
          img(src="/assets/images/ilustrace.png" alt='' loading='lazy')
          h3 Affinity Photo
          p
            | Rastrové ilustrace pomocí tabletu Wacom Intuos Pro M 
        
    footer
      h2 Kontakt
      a.button(href='#') Napiš mi
      
  
 

