doctype html
head
  title Petr Břenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Břenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  link(rel='stylesheet', href='astyles.css')
  link(rel='stylesheet', href='img.css')
  script(src="finder.js")  
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Portfolio post 1#

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
        a.name(href='about.html') Petr Břenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio 
            
    #content
        .container
          main.grid-b

            h1.hillu Webdesign, UX/UI, Three.js
            p.pillu Here you can see some of the websites i have created or participated on. 

            .spacer
              ul
                li
                  a.name(class="hrefa" href='https://www.ceskyflorbal.cz') Český Florbal - UI / UX design
                li
                  a.name(class="hrefa" href='https://www.czsnr.cz') Církevní základní škola Německého řádu - UI / UX design
                li
                  a.name(class="hrefa" href='https://www.cgnr.cz') Církevní gymnázium Německého řádu - UI / UX design
                li
                  a.name(class="hrefa" href='https://www.tescosw.cz') TescoSW - UI / UX design
                li
                  a.name(class="hrefa" href='https://www.vysousecemorava.com') Vysoušeče Morava - UI / UX design / Wix Editor
                li
                  a.name(class="hrefa" href='https://petrbrenek.wixsite.com/project-comics/uvodni-strana') The Last City - Personal Project / Wix Editor
                li
                  a.name(class="hrefa" href='https://www.checkaree.com') Checkaree - UI/UX of internal system

            

          H1.hilluspace I have also created some of these web design templates: 

          img(class="portimg" src="assets/images/favor.jpg" alt='' loading='lazy')
          img(class="portimg" src="assets/images/decision.jpg" alt='' loading='lazy')
          img(class="portimg" src="assets/images/decision2.jpg" alt='' loading='lazy')

            
