doctype html
head
  title Petr Břenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Břenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  link(rel='stylesheet', href='astyles.css')
  link(rel='stylesheet', href='img.css')
  script(src="finder.js")  
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Portfolio post 1#

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
        a.name(href='about.html') Petr Břenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio 
            
    #content
        .container
          main.grid-b
            h1.hillu Youtube content
            p.pillu I create videos about gaming, game development and IT. 
            section.project-grid-b
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/LD3bZndhQ_Q")
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/6NJ2_p-rsoU")
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/dQB7idHqHUE")
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/TqHUsna5bgk")     

                            