doctype html
head
  title Viktor Břenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Břenek")
  meta(name="description" content="Osobní blog a portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  link(rel='stylesheet', href='astyles.css')
  link(rel='stylesheet', href='img.css')
  script(src="finder.js")  
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Portfolio post 1#

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
        a.name(href='#') Viktor Břenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio 
            
    #hero
        .layer-bg.layer(data-depth='0.10' data-type='parallax')
        .layer-1.layer(data-depth='0.20' data-type='parallax')
        .layer-2.layer(data-depth='0.50' data-type='parallax')
        .layer-3.layer(data-depth='0.80' data-type='parallax')
        .layer-4.layer(data-depth='1.00' data-type='parallax')
        .layer-overlay.layer(data-depth='0.85' data-type='parallax')

    #hero-mobile
    #content
        .container
            section.first-section.gridblog.secpad
                section.blog-grid
                    .row
                        .col-sm-6
                        h1
                            | Arcanpunk 
                    .row
                        .col-sm-6
                        p 
                            | Vlastí rpg, které vytvářím nezávisle po večerech.
                            | Zde naleznete postupně informace o průběhu vývoje a ukázky modelů.
                            | Techničtější informace a postupy naleznete v sekci blogu pod tagem GameDev.
                            | Toto portfolio je předmětem změny a bude se postupem času rozšiřovat.
                    img.imgport(src='assets/images/modely.png' alt='' loading='lazy')
                    img.imgport(src='assets/images/postava3.png' alt='' loading='lazy')
                    img.imgport(src='assets/images/postava4.png' alt='' loading='lazy')

                
                  
    