doctype html
head
  title Viktor Břenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Břenek")
  meta(name="description" content="Osobní blog a portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  link(rel='stylesheet', href='astyles.css')
  link(rel='stylesheet', href='img.css')
  script(src="finder.js")  
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Portfolio post 1#

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBřenekYT' target='_blank') Youtube
            li
              a.source(href='https://github.com/viktorbrenek' target='_blank') Github
    menu
        a.name(href='#') Viktor Břenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio 
            
    #hero
        .layer-bg.layer(data-depth='0.10' data-type='parallax')
        .layer-1.layer(data-depth='0.20' data-type='parallax')
        .layer-2.layer(data-depth='0.50' data-type='parallax')
        .layer-3.layer(data-depth='0.80' data-type='parallax')
        .layer-4.layer(data-depth='1.00' data-type='parallax')
        .layer-overlay.layer(data-depth='0.85' data-type='parallax')

    #hero-mobile
    #content
        .container
          main.grid-b
            h1.arcaneh ARCANEPUNK LOST
            p.arcanep Arcanepunk lost is an arcanepunk (obviously) inspired, indie, solo-developed rpg 
                     | which takes time in alternative, distopic future. why is it "so" alternative?
                     | This world ended rougly in 1900's. This post-victorian age was well known for
                     | its technological progression, weird fasion, colonialism and much more. But in our
                     | game the twist arrives. Unknown forces destroyed the world. And those who survived 
                     | form nations, religions, clans or just wander solo in what's left out of the world. 
                     | Now imagine what would happen 200 years later? would the world be any different? 
                     | be sure it would! Especially if suspicious forces that are unexplainable by science
                     | begin to manifest. Who's is to blame for the end of the world? And who will you side with?
                     | Technology? Magic? Or perhaps... Both?
            img(class="arcaimg" src="assets/images/ROADMAPdate.png" alt='' loading='lazy')         
            section.project-grid-c
              a
                img(src="assets/images/ROADMAP1.png" alt='' loading='lazy')
                p.arcanep
                  | Desert, greenlands, swamp and definitely more 
                  | in the future. each biome will feature unique 
                  | encounters, weather, art style and more. The 
                  | world is semi-openworld. you are free to 
                  | explore its boundaries, and explore vertical terrains.
              a
                img(src='assets/images/ROADMAP2.png' alt='' loading='lazy')
                p.arcanep
                  | Per biome factions that will include unique NPCs,
                  | faction specific quests and perhaps even faction choise 
                  | system. (This last part might come later in q2 of 2023)
              a
                img(src='assets/images/ROADMAP3.png' alt='' loading='lazy')
                p.arcanep
                  | Each biome should breathe with life. Some of it
                  | will be even harvestable. Currently i have several
                  | interactible objects, like trees, ores and more on its way.
                  | Some have unique physics system implemented and most 
                  | importantly the time will be not merciful. 
              a
                img(src="assets/images/ROADMAP4.png" alt='' loading='lazy')
                p.arcanep
                  | Same as interactibles will monsters and animals fill the
                  | world of Arcanepunk Lost. For starters i will try to include
                  | 3 monsters per biome and maybe add up some friendly 
                  | animals. The models are custom and monsters are unique.
                  | I will try to create a bestiary for them in the future.
              a
                img(src="assets/images/ROADMAP5.png" alt='' loading='lazy')
                p.arcanep
                  | Dungeons will play a major role in obtaining of 
                  | the most important materials for unique 
                  | armors and weapons. Some dungeons will be
                  | more magicaly influenced and some just purely
                  | steampunk. however the similarities can be
                  | found in various puzzles and mischieves.  
              a
                img(src="assets/images/ROADMAP6.png" alt='' loading='lazy')
                p.arcanep
                  | Questing will eventually become the core of the 
                  | replayble loop. The plans are to create per faction
                  | quest system, which will allow player to pick only
                  | the quests which goes with the way of certain faction.
                  | In the future i would like to include even world 
                  | changing quests. Which could eraise whole factions.
            img(class="arcaimg" src="assets/images/ROADMAPnext.png" alt='' loading='lazy')               
            section.project-grid-c
              a
                img(src="assets/images/ROADMAP9.png" alt='' loading='lazy')
                p.arcanep
                  | The soundtrack is not the thing to be rushed. 
                  | The whole sound system and music in particular 
                  | is a huge responsibility and totally not in my 
                  | perk repertoire. Neverless i am actively trying to 
                  | connect with some perspective sound artists
                  | and we are currently working on our first tracks. 
              a
                img(src='assets/images/ROADMAP10.png' alt='' loading='lazy')
                p.arcanep
                  | The building system has always had a great
                  | impact on all kinds of rpgs. I can imagine
                  | players to be able to choose the best looking locations
                  | and building up the their dream factories, player homes, or 
                  | even some witch dens. All of those things are in the distant 
                  | future and in q3 of 2023 we will hopefully get our hands
                  | on playable building demo. (to be decided)
              a
                img(src='assets/images/ROADMAP11.png' alt='' loading='lazy')
                p.arcanep
                  | the world is semi-open and consists of 400x400m cells
                  | Even though it might not seem too large for a single
                  | cell, the maps are designed to be vertical. In some cases
                  | players will need to travel across several floors to reach
                  | certain Npcs, quests, harvestables or puzzles. Mounts 
                  | or primitive steampunk vehicles might come handy.
              a
                img(src="assets/images/ROADMAP12.png" alt='' loading='lazy')
                p.arcanep
                  | There is obviously a ton of work to be done...
                  | neverless i will work on the project solo since
                  | this is my dream game. Things might get delayed, 
                  | some mechanics might even get cancecelled but 
                  | the development will go on. The primary things on the
                  | to do list will be: Optimalization, Localization
            h1.arcaneh Q&A
            p.arcanepp   1) What will make the game unique?
            p.arcanei 
                        | "The game is my personal project. I am heavily inspired by my favourite rpgs. Like
                        | Kenshi, outward, Arcanum of Steamworks and Magick Obscura and more. I want 
                        | to create a world filled with lore and great community. Perhaps a huge modding 
                        | community in the future. It doesnt have to be unique. It has to be fun."

            p.arcanepp   2) What will make the game re-playable? 
            p.arcanei 
                        | "Faction system, Random items stats, perhaps even random enemies
                        | (in the future - not in early development). I am even thinking about 
                        | perma death options, or some other more interesting approaches.
                        | One of the dreams is also to implement random generated dungeons."

            p.arcanepp   3) Will the game be free? 
            p.arcanei 
                        | "It is to be decided. However i do think about smaller one-time purchase 
                        | via Steam after the final release."

            p.arcanepp   4) What engine do you use to develop the game? 
            p.arcanei 
                        | "I am using Unity 21 LTS version. Also huge part of my development 
                        | is based on assets like RPG Builder from Blink studio. I am graphic and UI designer
                        | and my coding experience is not so big. I hope that you are not judgemental about
                        | using assets. All the art like Shaders, 3D models etc is my work, and i will also
                        | implement my own mechanics."

            p.arcanepp   5) Can we play the game now? 
            p.arcanei 
                        | "No. There will be scheduled time-period when the releases will be tested
                        | for free. For more information join the Discord. The Final release will be
                        | announced in the future and the Steam page or Itch page will be created."

            p.arcanepp   6) Can we help you? 
            p.arcanei 
                        | "I am not actively looking for a crew right now, nor the publisher.
                        | However if you are interested write me an email via contacts on this website.
                        | Like i mentioned my programming is not so good, and also sound work is a problem."

            p.arcanepp   7) Where can we learn news about the game?
            p.arcanei 
                        | "There are blog posts with a tag "arcanepunk" on the website. 
                        | You can also follow my Discord for more personal approach."

                      
                        
          