doctype html
head
  title Viktor Břenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Břenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  link(rel='stylesheet', href='astyles.css')
  link(rel='stylesheet', href='img.css')
  script(src="finder.js") 
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Portfolio post 1#

body
  <canvas class="webgl"></canvas>
  script(src="./three.min.js")
  script(src="./threelesson.js")
  

      
    
