:root {
  font-size: 10px;
  --padding: 3rem;
  --color--10: hsla(175, 100%, 50%, 1);
  --color--20: hsla(293, 52%, 48%, 1);
  --color--30: hsla(230, 55%, 54%, 1);
  --color--40: hsla(199, 72%, 54%, 1);
  --color--50: hsla(120, 57%, 47%, 1);
  --color--60: hsla(90, 68%, 45%, 1);
  --color--70: hsla(53, 90%, 49%, 1);
  --color--80: hsla(32, 95%, 45%, 1);
  --color--90: hsla(340, 66%, 47%, 1);
  --color--100:hsla(265, 57%, 55%, 1); 
}

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@font-face {
  font-family: "CustomFont";
  src: url('assets/fonts/Mona-Sans.woff2') format("woff2");
}


body {
    background-color: hsla(0, 0%, 0%, 0.95);
    color:hsla(0, 0%, 100%, 0.8);
}

.mainpage {
    display: block;
}
h1 {
    display: block;
    font-size: 4.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-variant: petite-caps;
    font-style: oblique;
    font-weight: 900;
  }
  h1::first-letter {
    color: #30FFCB;
  }

.links {
position: fixed;
list-style: none;
width: 130px;
bottom: 40px;
right: 0px;
margin: 0;
z-index: 998;
padding: 1rem;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border-radius: 1rem;
}

.links p{

font-family:'CustomFont';
font-weight:400;
text-transform: uppercase;
text-align: center;
padding: 0.25em 0;
letter-spacing: 2px;
font-size: 10px;
display: block;
width: 100%;
opacity: 0.6;
color: #FFF;
}

.links li {
border-bottom: #222 1px solid;
border-bottom: rgba(255,255,255,0.1) 1px solid;
}

.links li a {
transition: opacity 0.2s ease-out;

font-family:'CustomFont';
font-weight:400;
text-transform: uppercase;
text-align: right;
padding: 0.25em 0;
letter-spacing: 2px;
font-size: 12px;
display: block;
width: 100%;
opacity: 0.8;
color: #FFF;
}

.links li a:hover {
opacity: 1.0;
}

.links li .who:before {
opacity: 0.8;
content: '💬';
float: left;
}

.links li .source:before {
opacity: 0.8;
content: '💾';
float: left;
}

.links li .blog:before {
opacity: 0.8;
content: '📹';
float: left;
}

.hide {
opacity: 0;
}
    

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: rgb(17, 17, 17, 0.99);
  color: rgb(89, 89, 89);
}

::selection {
  background: rgb(17, 17, 17, 0.99);
  color: rgb(89, 89, 89);
}

html {
    font-family:'CustomFont';
   
}
@supports (font-variation-settings: normal) {
  html {
    font-family:'CustomFont';

  }
}



h1,
h2,
h3,
h4,
p,
a,
span {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

a,
a * {
  border-radius: 1.5rem;
}

a:hover {
  -webkit-filter: brightness(1.09);
  filter: brightness(1.09);
}

menu {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index:999;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  }

menu a {
  font-size: 2.2rem;
  color: white;
  text-align : center;
  display : block;
  float : left;
  padding : 16px 14px;
  text-decoration : none;
  font-family:'CustomFont';
  font-weight:700;
  font-variant: petite-caps;
  font-style: oblique;
}
.name::first-letter {
  color: #30FFCB;
}

.dates {
  color: #30FFCB;
}

.hrefa {
  font-size: 2.2rem;
  //color: white;
  text-align : center;
  display : block;
  float : left;
  padding : 16px 14px;
  text-decoration : none;
  font-family:'CustomFont';
  font-weight:400;
}

.grid {
  display: -ms-grid;
  
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: 100rem;
  min-height: 100vh;
}

.gridblog {
    
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    max-width: 80rem;
    min-height: 100vh;
  }

.full {
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: span 7;
}

.intro {
  grid-column-start: 1;
  grid-column-end: span 5;
  margin-top: 6rem;
  font-size: 4.5rem;
  position: -webkit-sticky;
  position: sticky;
  font-variant: petite-caps;
  font-style: oblique;
  font-weight: 900;
}
.intro::first-letter {
  color: #30FFCB;
}

.project-grid {
  grid-column-start: 1;
  grid-column-end: span 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 6rem;
  grid-column-gap: 2rem;
  margin: 1rem auto;
}

.project-grid a {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  color: white;
  min-height: 56.25%;
}

.project-grid a h3 {
  font-size: 2.15rem;
  margin: 1.25rem 0;
  font-variant: petite-caps;
  font-style: oblique;
}
.project-grid a h3::first-letter {
  color: #30FFCB;
}

.project-grid a p {
  font-size: 1.5rem;
  color: lightgrey;
}

.project-grid a img {
  margin-bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  min-height: 25rem;
  max-height: 25rem;
}

.portimg {
  margin-bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  min-height: 50rem;
  border-radius: 1.5rem;
}

.profimg {
  border-radius: 100%;
  border: 5px solid #009a74;
  width: 200px;
  height: 200px;
  position: relative;
}

main {
  padding: 3rem var(--padding);
}

footer {
  margin-top: 8rem;
  padding: 6rem var(--padding);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 150rem;
}

footer > * {
  margin-top: var(--padding);
}

footer h2 {
  font-size: 4.5rem;
}

.button {
  padding: 2rem 3rem;
  font-size: 2.5rem;
  background: rgb(142, 142, 142);
  color: #1a1a1a;
}

.button:hover {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.blog-grid {
    grid-column-start: 1;
    display: grid;
    grid-template-rows: repeat(3, fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 1rem auto;
    justify-content: left;
  }
  
  
.articles {
    list-style: none;
}

.articles__item {
  display: flex;
  flex-wrap: wrap;
}

.articles__item__link {
    flex: 1;
    text-decoration: none;
    cursor: auto;
}

.articles__item__title {
    font-size: 2.15rem;
    margin: 1.25rem 0;
}

.articles__item__date {
    margin-right: 0.75rem;
    flex-basis: 7em;
}

ul{
  list-style-type: none;
  
}

li {
  border-bottom: #222 1px solid;
  border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
}
li a {
  transition: opacity 0.2s ease-out;
  font-family:'CustomFont';
  font-weight:400;
  text-transform: uppercase;
  text-align: left;
  padding: 0.25em 0;
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  width: 100%;
  opacity: 0.8;
  color: #FFF;
  position: -webkit-sticky;
}
li a:hover {
  opacity: 1.0;
}

.articles {
  list-style: none;
}
.articles__item {
  display: flex;
  flex-wrap: wrap;
}
.articles__item__link {
  flex: 1;
  text-decoration: none;
  cursor: auto;
}
.articles__item__title {
  font-size: 2.15rem;
  margin: 1.25rem 0;
}
.articles__item__date {
  margin-right: 0.75rem;
  flex-basis: 7em;
}

.task {
  cursor:move;
  background-color:var(--white);
  padding:1rem;
  border-radius:8px;
  width:100%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom:1rem;
  border:3px dashed transparent;
} 
.task__tag--copyright:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  border-color:#30fff5!important;
}

.tsg {
 background-color: #30FFCB;
 display: inline-block;
 padding: 0.5rem 1rem;
 border-radius: 9999px;
 font-size: 0.8rem;
 text-transform: uppercase;
 letter-spacing: 0.05rem;
 font-weight: bold;
 color: #3a0300;
}

   
.task__tag {
  background-color: #30FFCB;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: bold;
  color: #3a0300;
}

.task__tag2 {
  font-size:12px;
  cursor:pointer;
  display: inline-block;
  padding: 0.3em 0.85em;
  text-transform: uppercase;
  border: 3px solid #30FFCB;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45)
}

.task__tags {
  list-style-type: none;
  margin: 0.5em 0.5em 1.5em 0.5em;
}

.task__tag--copyright {
  
  font-weight: 900;
}


 
.atitle {
  padding-top: 4rem;
}

.acontent {
  padding-top: 2rem;
}



pre {
  background: #222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  padding: 2.5em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: scroll;
}

code {
  font: 'Source Code Pro';
  font-size: 1.2rem;  
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-variant: petite-caps;
}

p {
  font-size: 2rem;
  line-height: 1.6em;
}

li {
  font-size: 1.5rem;
  list-style-type: none;
}


.articleslist {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


.nav a,
.nav label {
  display: block;
  padding: 0.85rem;
  transition: all 0.25s ease-in;
  position: -webkit-sticky;  
}
.nav label {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter:blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 2rem;
}

.year {
  font-size: 1.8rem;
  color: white;
  text-decoration : none;
  font-family:'CustomFont';
  font-weight:700;
  font-variant: petite-caps;
  font-style: oblique;
}

.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.nav__list input[type="checkbox"]:checked + label + ul {
  max-height: 1000px;
}

label > span {
  transition: transform 0.65s ease;
}

.shrink {
  //width: fit-content;
}

.ulgrid {
  display: grid;
}

.viktor:after {
		content: ' Petr Brenek ';		
		animation: tech 10s infinite; 
}

.fa {
  pointer-events: none;
}

.borderdiv {
  padding: 2rem;
  border-radius: 2rem;
  height: 100%;
  container-type: inline-size;
}

.bcgblur {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter:blur(2px);
  backdrop-filter: blur(2px);
}

.borderdiv:hover {
  background-color: rgba(18, 255, 196, 0.7);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.lil-gui { 
	--background-color: rgba(0, 0, 0, 0.4);
	--widget-color: rgba(103, 103, 103, 0.613);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#gui { 
  top: 0.8vh; 
  position: fixed;
  padding: 1rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1rem;
  text-align: center;
}

@keyframes tech {
	0% {
		content: ' Petr Brenek ';}
	25%{
		content: ' Illustrator ';}
	50%{
		content: ' Game dev ';}		
	75%{
		content: ' Content creator ';}
	100%{
		content: ' Artist ';}
  }
  
.pillu{
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  margin-bottom: 6rem;
  left: 5%;
  font-family:'CustomFont';
  font-weight:400;
  text-transform: uppercase;
  max-width: 70ch;
}

.hillu{
  font-size: 4rem;
  text-align: center;
  //margin-bottom: 6rem;
  font-family:'CustomFont';
  font-weight:900;
  margin-top: 6rem;
  font-size: 4.5rem;
  position: relative;
  font-style: oblique;
}
.hillu::first-letter {
  color: #30FFCB;
}

.hilluspace{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 6rem;
  font-family:'CustomFont';
  font-weight:900;
  text-transform: uppercase;
  //margin-top: 20rem;
  font-size: 4.5rem;
  position: relative;
}

.spacer {
  padding-bottom: 30rem;
}
.spacersmaller {
  padding-bottom: 15rem;
}

.table-of-contents {
  position: fixed;
  list-style: none;
  width: ~"min(50%, 150px)";
  top: 20%;
  left: 0px;
  margin: 0;
  z-index: 998;
  padding: 1rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
}

@media (max-width: 1050px) {
  .table-of-contents {
    display: none;
  }
}

@media (max-width: 4000px) {
  pre { 
    overflow: hidden ;
  }
}



@media (max-width: 960px) {
  :root {
    font-size: 9px;
  }
  .intro {
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: span 7;
    position: -webkit-sticky;
  }
  .project-grid {
    grid-row-gap: 6rem;
  }
  .project-grid a h3 {
    font-size: 2.5rem;
    margin-bottom: 1.15rem;
  }
  .project-grid a {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  pre { 
    overflow: hidden ;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 8px;
    --padding: 2rem;
  }
  .project-grid {
    grid-row-gap: 6rem;
  }
  .project-grid a {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .project-grid a h3 {
    font-size: clamp(2rem, 5cqi, 3rem);
    margin-top: 2rem;
  }
  .project-grid a p {
    font-size: 1.75rem;
  }
  .project-grid a img {
    // width: 100vw;
    // margin: auto calc(50% - 50vw);
  }

  pre { 
    overflow: scroll ;
  }
  .lil-gui {
    visibility: hidden;
  }
}
@media (min-width: 4000px) {
  :root {
    font-size: 40px;
  }
  
}

