:root {
  font-size: 10px;
  --padding: 3rem;
  --color--10: hsla(175, 100%, 50%, 1);
  --color--20: hsla(293, 52%, 48%, 1);
  --color--30: hsla(230, 55%, 54%, 1);
  --color--40: hsla(199, 72%, 54%, 1);
  --color--50: hsla(120, 57%, 47%, 1);
  --color--60: hsla(90, 68%, 45%, 1);
  --color--70: hsla(53, 90%, 49%, 1);
  --color--80: hsla(32, 95%, 45%, 1);
  --color--90: hsla(340, 66%, 47%, 1);
  --color--100:hsla(265, 57%, 55%, 1); 
}

body {
    //background-color: #3d3f41;
    background-color: black;
    //background-color: #FF3CAC;
    color: #c7c7b0;
}

.mainpage {
    display: block;
}
h1 {
    display: block;
    font-size: 4.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

.links {
position: fixed;
list-style: none;
width: 120px;
bottom: 40px;
right: 0px;
margin: 0;
z-index: 998;
padding: 1rem;
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border-radius: 1rem;
}

.links p{

font-family: "Lato",  sans-serif;
text-transform: uppercase;
text-align: center;
padding: 0.25em 0;
letter-spacing: 2px;
font-size: 10px;
display: block;
width: 100%;
opacity: 0.6;
color: #FFF;
}

.links li {
border-bottom: #222 1px solid;
border-bottom: rgba(255,255,255,0.1) 1px solid;
}

.links li a {
transition: opacity 0.2s ease-out;

font-family: "Lato",  sans-serif;
text-transform: uppercase;
text-align: right;
padding: 0.25em 0;
letter-spacing: 2px;
font-size: 12px;
display: block;
width: 100%;
opacity: 0.4;
color: #FFF;
}

.links li a:hover {
opacity: 0.8;
}

.links li .who:before {
opacity: 0.5;
content: '@';
float: left;
}

.links li .source:before {
opacity: 0.5;
content: '{}';
float: left;
}

.links li .blog:before {
opacity: 0.5;
content: '&';
float: left;
}

.hide {
opacity: 0;
}
    

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: rgb(17, 17, 17, 0.99);
  color: rgb(89, 89, 89);
}

::selection {
  background: rgb(17, 17, 17, 0.99);
  color: rgb(89, 89, 89);
}

html {
    font-family: "Lato",  sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Lato",  sans-serif;
  }
}



h1,
h2,
h3,
h4,
p,
a,
span {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: white;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

a,
a * {
  border-radius: 1.5rem;
}

a:hover {
  -webkit-filter: brightness(1.09);
  filter: brightness(1.09);
}

menu {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.750);
  z-index:999;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

menu a {
  font-size: 2.2rem;
  color: white;
  text-align : center;
  display : block;
  float : left;
  padding : 16px 14px;
  text-decoration : none;
}


.grid {
  display: -ms-grid;
  
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: 150rem;
  min-height: 100vh;
}

.gridblog {
    
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    max-width: 150rem;
    min-height: 100vh;
    max-width: 1024px;
  }

.full {
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: span 7;
}

.intro {
  grid-column-start: 1;
  grid-column-end: span 5;
  margin-top: 6rem;
  font-size: 4.5rem;
}

.project-grid {
  grid-column-start: 1;
  grid-column-end: span 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 6rem;
  grid-column-gap: 2rem;
  margin: 1rem auto;
}

.project-grid a {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  color: white;
  min-height: 56.25%;
}

.project-grid a h3 {
  font-size: 2.15rem;
  margin: 1.25rem 0;
}

.project-grid a p {
  font-size: 1.5rem;
  color: lightgrey;
}

.project-grid a img {
  margin-bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  min-height: 50rem;
}

main {
  padding: 3rem var(--padding);
}

footer {
  margin-top: 8rem;
  padding: 6rem var(--padding);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 150rem;
}

footer > * {
  margin-top: var(--padding);
}

footer h2 {
  font-size: 4.5rem;
}

.button {
  padding: 2rem 3rem;
  font-size: 2.5rem;
  background: rgb(142, 142, 142);
  color: #1a1a1a;
}

.button:hover {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.blog-grid {
    grid-column-start: 1;
    display: grid;
    grid-template-rows: repeat(3, fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 1rem auto;
    justify-content: left;
  }
  
  
  .articles {
      list-style: none;
  }

  .articles__item {
    display: flex;
    flex-wrap: wrap;
}

.articles__item__link {
    flex: 1;
    text-decoration: none;
    cursor: auto;
}

.articles__item__title {
    font-size: 2.15rem;
    margin: 1.25rem 0;
}

.articles__item__date {
    margin-right: 0.75rem;
    flex-basis: 7em;
}

ul{
  list-style-type: none;
  
}

li {
  border-bottom: #222 1px solid;
  border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
}
li a {
  transition: opacity 0.2s ease-out;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: left;
  padding: 0.25em 0;
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  width: 100%;
  opacity: 0.4;
  color: #FFF;
}
li a:hover {
  opacity: 0.8;
}

.articles {
  list-style: none;
}
.articles__item {
  display: flex;
  flex-wrap: wrap;
}
.articles__item__link {
  flex: 1;
  text-decoration: none;
  cursor: auto;
}
.articles__item__title {
  font-size: 2.15rem;
  margin: 1.25rem 0;
}
.articles__item__date {
  margin-right: 0.75rem;
  flex-basis: 7em;
}

.task {
  cursor:move;
  background-color:var(--white);
  padding:1rem;
  border-radius:8px;
  width:100%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom:1rem;
  border:3px dashed transparent;
} 
.task__tag--copyright:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  border-color:rgba(162,179,207,.2)!important;
}

   
.task__tag {
  font-size:12px;
  cursor:pointer;
  display: inline-block;
  padding: 0.3em 0.85em;
  text-transform: uppercase;
  border: 3px solid #28242f;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45)
}

.task__tag2 {
  font-size:12px;
  cursor:pointer;
  display: inline-block;
  padding: 0.3em 0.85em;
  text-transform: uppercase;
  border: 3px solid #28242f;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45)
}

.task__tag:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task__tags {
  list-style-type: none;
  margin: 0.5em 0.5em 1.5em 0.5em;
}

.task__tag--copyright {
  
  font-weight: 900;
}


 
.atitle {
  padding-top: 4rem;
}

.acontent {
  padding-top: 2rem;
}



pre {
  background: #222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  padding: 2.5em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: scroll;
}

code {
  font: 'Source Code Pro';
  font-size: 1.2rem;  
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
  line-height: 1.4em;
}

li {
  font-size: 1.5rem;
  list-style-type: none;
}


.articleslist {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


.nav a,
.nav label {
  display: block;
  padding: 0.85rem;
  transition: all 0.25s ease-in;
}
.nav label {
  cursor: pointer;
}

.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.nav__list input[type="checkbox"]:checked + label + ul {
  max-height: 1000px;
}

label > span {
  transition: transform 0.65s ease;
}

.shrink {
  width: fit-content;
}


.viktor:after {
		content: ' Petr Břenek ';		
		animation: tech 10s infinite; 
}

.fa {
  pointer-events: none;
}

.borderdiv {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter:blur(20px);
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 2rem;
  height: 100%;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

@keyframes tech {
	0% {
		content: ' Petr Břenek ';}
	25%{
		content: ' Illustrator ';}
	50%{
		content: ' Game dev ';}		
	75%{
		content: ' Content creator ';}
	100%{
		content: ' Artist ';}
  }
  



@media (max-width: 4000px) {
  pre { 
    overflow: hidden ;
  }
}



@media (max-width: 960px) {
  :root {
    font-size: 9px;
  }
  .intro {
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: span 7;
  }
  .project-grid {
    grid-row-gap: 6rem;
  }
  .project-grid a h3 {
    font-size: 2.5rem;
    margin-bottom: 1.15rem;
  }
  .project-grid a {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  pre { 
    overflow: hidden ;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 8px;
    --padding: 2rem;
  }
  .project-grid {
    grid-row-gap: 6rem;
  }
  .project-grid a {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .project-grid a h3 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .project-grid a p {
    font-size: 1.75rem;
  }
  .project-grid a img {
    // width: 100vw;
    // margin: auto calc(50% - 50vw);
  }
  pre { 
    overflow: scroll ;
  }
}
@media (min-width: 4000px) {
  :root {
    font-size: 40px;
  }
  
}

