@some: foo;

body {
    background-color: #3d3f41;
    font-family: "Lato", sans-serif;
    color: #c7c7b0;
    
}

.myDiv {
    margin: if((2 > 1), 0, 3px);   
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }


    
.links {
position: absolute;
list-style: none;
width: 120px;
bottom: 40px;
right: 20px;
padding: 0;
margin: 0;

}

.links p{

font-family: "Lato",  sans-serif;
text-transform: uppercase;
text-align: center;
padding: 0.25em 0;
letter-spacing: 2px;
font-weight: 200;
font-size: 10px;
display: block;
width: 100%;
opacity: 0.6;
color: #FFF;
}

.links li {
border-bottom: #222 1px solid;
border-bottom: rgba(255,255,255,0.1) 1px solid;
}

.links li a {
transition: opacity 0.2s ease-out;

font-family: "Lato",  sans-serif;
text-transform: uppercase;
text-align: right;
padding: 0.25em 0;
letter-spacing: 2px;
font-weight: 200;
font-size: 12px;
display: block;
width: 100%;
opacity: 0.4;
color: #FFF;
}

.links li a:hover {
opacity: 0.8;
}

.links li .who:before {
opacity: 0.5;
content: '@';
float: left;
}

.links li .source:before {
opacity: 0.5;
content: '{}';
float: left;
}

.links li .blog:before {
opacity: 0.5;
content: '&';
float: left;
}

.hide {
opacity: 0;
}