doctype html
head
  title Viktor Brenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Viktor Brenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/icon-512.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  <link rel="icon" href="assets/images/favicon.png" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="assets/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/manifest.json"> 
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Blog

body
    canvas.webgl
    ul#links.links 
            li
              a.who(href='https://instagram.com/viktorbrenek' target='_blank') Instagram
            li
              a.who(href='https://facebook.com/brenekviktor/' target='_blank') Facebook
            li
              a.who(href='https://twitch.tv/viktorbrenek' target='_blank') Twitch
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBrenekYT' target='_blank') Youtube
    menu
        a.name(href='about.html') Viktor Brenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio
        a
          p.name(class="score") Score: 0
        

        
    main.gridblog
        h1.intro Blog
        section.blog-grid
        
    footer 
    script(src="tools.js" type="module") 