doctype html
head
  title Petr Brenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Brenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/icon-512.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  link(rel='stylesheet', href='astyles.css')
  link(rel='stylesheet', href='img.css')
  <link rel="icon" href="assets/images/favicon.png" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="assets/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/manifest.json">
  script(src="finder.js")  
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Portfolio post 1#

body
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBrenekYT' target='_blank') Youtube
    menu
        a.name(href='about.html') Petr Brenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio 
            
    #content
        .container
          main.grid-b
            h1.hillu Youtube content
            p.pillu I create videos about gaming, game development and IT. 
            section.project-grid-b
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/DSEBbtQHiS0?si=M9agDfiq5DqFs5G_")
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/krDJhM8CdIE")
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/1Qac5pDV2YU")
              a
                iframe(height="350px" width="100%" src="https://www.youtube.com/embed/TqHUsna5bgk")     

                            