

#hero {
    height: 800px;
    overflow: hidden;
    position: relative;
  }
  #content {
    background-color: #000000;
  }
  .layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
  }
  #hero-mobile {
    display: none;
    background: url("assets/images/mobile.png") no-repeat center bottom / cover;
    height: 320px;
  }
  .first-section {
    padding: 50px 0 20px 0;
  }


  #hero, .layer {
    min-height: 800px;
  }
  .layer-bg {
    background-image: url("assets/images/background.png");
    background-size: cover;
  }
  .layer-bg2 {
    background-image: url("assets/images/planeta.gif");
    background-size: cover;
  }

  .layer-bg3 {
    background-image: url("assets/images/threejs.png");
    background-size: cover;
  }

  .layer-bg4 {
    background-image: url("assets/images/ocean.png");
    background-size: cover;
  }
  
  .layer-3 {
    background-image: url("assets/images/lista.png");
    background-size: cover;
  }
  .layer-4 {
    background-image: url("assets/images/arcanepunk5.png");
    background-position: right bottom;
  }
  .layer-44 {
    background-image: url("assets/images/lod.png");
    background-position: right;
  }
  .layer-444 {
    background-image: url("assets/images/palm.svg");
    background-position: right bottom;
  }
  .layer-overlay {
    background-image: url("assets/images/overlay.png");
  }

#threejs {
  width: 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  transition: 2s;
  float: none;
  border-width: thick;
  border-style: solid;
  margin-top: 100px;
}

.refresh {
  position: fixed;
  list-style: none;
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 20px;
  padding: 0;
  margin: 0;
  z-index: 998;
}

.disena {
  position: fixed;
  list-style: none;
  width: 40px;
  height: 40px;
  bottom: 80px;
  left: 20px;
  padding: 0;
  margin: 0;
  z-index: 998;
}

.windowdisplay {
  min-width: 100%;
  min-height: 666px;
  left: 0px;
  transition: 2s;
  float: none;
  border-width: thick;
  border-style: solid;
  margin-top: 20px;
}
  
.h1mid {
  font-size: 8rem;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
}

.h1mid:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


